body{
    background-color:#E5E5E5;
}

.profile{
  width: 800px;
  height:800px;
  box-shadow:0px 2px 4px rgba(0,0,0,0.3);
  background:white;
  margin:20px auto;
  display:flex;
  flex-direction:column;
  align-items:center;
  border-radius:3px;
  overflow:hidden;
}


.header{
  width:100%;
  /* background-image : url('/bitcamp-fit-tour/images/profilebg3.jpg');
  background-size: 100%; */
  background-color : #9e9e9e;
  height:45%;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
}

.header-text{
  color:white;
  font-size:20px;
  line-height:1.6em;
  text-shadow:0px 2px 4px rgba(0,0,0,0.3);
  margin-top:15px;
}

.fab{
  background-color : teal;
  font-weight : 300;
  color : white;
  font-size : 18px;
  border-radius : 50%;
  height : 60px;
  width : 60px;
  border : none;
  box-shadow : 0px 1px 2px rgba(0,0,0,0.5);
  transform : translateY(-30px);
}

.fab:hover, .fab:focus{
  /* box-shadow:0px 4px 8px rgba(0,0,0,0.5); */
}

.content{
  padding:10px 20px;
  width:80%;
} 


.info-type{
  font-size:16px;
  font-weight:600;
  color:rgba(0,0,0,0.8)
}

.info-data{
  font-size:16px;
  color:grey;
}


/* #social-media{
  display:flex;
  flex-direction:column;
  align-items:center;
  padding-top:20px;
}

#social-media-links{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  align-items:center; justify-content:center;
  width:100%;
  height:100%;
  margin-top:5px;
}

.social-media-btn{
  border-radius:50%;
  height:40px;  width:40px;
  font-size:20px;
  color:white;
  border:none;
  background-color:#383838;
  text-shadow:0px 2px 4px rgba(0,0,0,0.3);
}

.social-media-btn:hover{
  animation: pulse 1.25s cubic-bezier(0.66, 0, 0, 1)
}
.social-media-btn:focus{
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1)
}



#facebook{
  background-color:#3C5A99;
  box-shadow:0 0 0 0 #3C5A99;
}

#instagram{
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  margin-left:10px;
  box-shadow:0 0 0 0 #d6249f;

}

#twitter{
  background-color:#20B8FF;
  margin-left:10px;
  box-shadow:0 0 0 0 #20B8FF;
}

@keyframes pulse {
  to {
    box-shadow: 0 0 0 10px transparent; 
  }
} */


/* errorMessage */
div[class="error"] {
	color : red;
	font-size: 13px;
	margin-left: 40px;
}

/* modal */
#password-modal {
  width : 470px;
  max-height: none;
}

#password-update-btn, #password-update-cancel-btn {
  width: 380px;
  height: 40px;
  margin-left: auto;
  font-size: 1.2rem;
}

/* profile info */
input:disabled {
  border:none !important;
  box-shadow: none !important;
  font-size: 16px !important;
  color: grey !important;
  font-family: 'Noto Sans KR', sans-serif !important;
}

input[type=text]:not(.browser-default) {
  box-shadow: 0 1px 0 0 #26a69a;
  border-bottom: 1px solid #26a69a;
  font-size: 16px;
  color: black;
  font-family: 'Noto Sans KR', sans-serif;
}

[type="checkbox"]:not(:checked):disabled+span:not(.lever):before {
  border: 2px solid #5a5a5a;; 
  background-color: white; 
}

/*  {
  box-shadow: 0 1px 0 0 #26a69a;
  border-bottom: 1px solid #26a69a;
} */

/* profile picture */
#profile-picture{
  height:170px;
  width:170px;
  border-radius:50%;
  overflow:hidden;
}

#profile-picture-update{
  height:170px;
  width:170px;
  border-radius:50%;
  overflow:hidden;
}


#profile-picture-overlay{
  height:170px;
  width:170px;
  border-radius:50%;
  margin-top:-33px;
  background-color:rgba(0,0,0,0.6);
  position: absolute;
  z-index:99;
  align-items:center; justify-content:center;
  color:white;
  font-size:18px;
  display:none;
}


#profile-picture:hover~#profile-picture-overlay{
  display:flex;
}
#profile-picture-overlay:hover{
  display:flex;
}

.file-path-wrapper {
  width : 0px;
}

#photo-modal {
  width : 400px;
  max-height: none;
}

#photo-update-btn, #photo-update-cancel-btn {
  width: 350px;
  height: 40px;
  margin-left: auto;
  font-size: 1.2rem;
}

