/* head */
h4 {
	font-weight: 600;
	margin-top: 48px;
}

/* tab */
.tabs {
  border-bottom: 1px solid #ee6e732b;
}

.tab {
	margin-right : 20px !important;
}

.tab a {
	padding-left : 0px !important;
	padding-right : 0px !important;
	font-size: 17px !important;
  font-weight: 600 !important;
}

.tab a:focus {
  background-color: transparent !important;
}

/* card */
.card{
  cursor: pointer;
}

.card:hover{
  transform : translateY(-0.2em);
}

/* card title */
.card .card-title {
    bottom: 70% !important;
    left: 80% !important;
    color: #e57272 !important;
}

.card .card-title i{
    font-weight: 600;
    font-size: 27px;
}

.card-content {
  min-height: 180px;
}


/* wish */
.wish-title {
  font-size: 18px;
  font-weight: 600;
}

.wish-price {
  font-size: 16px;
  font-weight: 500;
  color: gray;
}

.wish-hour-trans {
  color: gray;
}

