@charset "UTF-8";

nav {
	background-color: transparent;
	background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0) ),url('/bitcamp-fit-tour/images/emerald.jpg');
	height: 250px;
	
}


h2 {
	padding: 0 0 2px 2px;
    font-weight: 700;
    font-size: 28px;
    line-height: 41px;
    color: #4a4a4a;
    margin-top: 60px;
    margin-bottom: 0px;
    cursor : pointer;
}

.buttons {
	padding: 15px 0px 20px 780px;
}

#backToList, #add-btn, #update-btn{
	width: 100px;
	margin: 0px 0px 0px 5px;
}

.ql-editor {
	max-height: 400px;
	height: 400px;
}

.warning {
	color: red !important;
}

#toast-container {
/* 	left: 73%; */
	top: 80%;
}

/* .toast {
	background-color: #ffccbc;
	color: #514859;
	font-size: 14px;
	font-weight: 700;
} */

/*faq-add*/
#faq-input-title {
	margin-top: 20px;
}