.titl {
    padding: 0 0 24px 2px;
    font-weight: 700;
    font-size: 28px;
    line-height: 41px;
    color: #4a4a4a;
    margin-top: 120px;
    margin-bottom: 0px;
}

.collapsible {
	margin-top: 0px;
}

.collapsible-header, th, td, .bit-view-link {
    font-size: 14px;
    color: #514859; 
    line-height: 18px;
    font-weight: normal;
}

#NoticeTable, #FAQTable {
	min-height: 430px;
}

.notice-titl {
	padding: 0px 0px 24px 0px !important;
    font-weight: 700;
    font-size: 24px;
    line-height: 41px;
    color: #4a4a4a;
    margin-top: 120px;
    margin-bottom: 0px;
}

.faq-titl {
	padding: 0px 0px 24px 0px !important;
    font-weight: 700;
    font-size: 24px;
    line-height: 41px;
    color: #4a4a4a;
    margin-top: 120px;
    margin-bottom: 0px;
    width: 150px !important;
}


/*select*/
.faq-category-select {
    margin-top: 130px;
    margin-bottom: 0px;
    height: 27px;
    font-size: 13px;
}

.add-notice {
	margin-top: 120px;
	margin-bottom: 0px;
    padding: 0px 0px 0px 50px !important;
}

.add-faq {
	margin: 120px 0px 0px 335px !important;
    padding: 0px 0px 0px 50px !important;
}


.checked {
	background-color: #f7f5f8;
}

table {
	border-top: 2px solid teal;
}

th {
	padding: 20px 5px 20px 5px;
}

/* th:nth-child(1) {
  width: 60px;
} 

th:nth-child(3) {
  width: 120px;
}

td:nth-child(4) {
  text-align: center;
  width: 60px;
}
*/

#noticeCategory {
 width: 80px;	
}

#noticeCreatedDate {
	width: 120px;
}

#noticeViewCount {
	text-align: center;
	width: 60px;
}



#FaqCategory {
	width: 100px;
}


/*pagination*/
.pagination {
  text-align: center;
}

.currpage-link, #currPage {
  background-color: white !important;
  width: 20px;
}

.page-link {
  font-size: 13px !important;
  color: #514859; 
  line-height: 18px !important;
  font-weight: normal;
}




