i {
	font-size: 23px;
}

.carousel {
    height: 800px !important;
}

.dropdown-content {
	height : 200px !important;
}

.modal.modal-fixed-footer {
  height: 25%;
	top: 30% !important;
}

.ql-editor {
  height: 50em;
}


