i, .material-icons {
	font-size: 2rem !important;
}

#form-panel {
    height: 900px !important;
}

.dropdown-content {
	max-height : 200px !important;
}

.modal.modal-fixed-footer {
  height: 30%;
	top: 30% !important;
}

.ql-editor {
  max-height: 600px;
  height: 600px;
}


.tab > a {
	font-size: 20px !important;
	font-weight: bold;
	border-top : 1px solid #f9e5e5;
	border-bottom : 3px solid #f9e5e5;
}

.indicator {
	height: 3px !important;
}

.modal-footer {
    font-size: 30px;
    font-weight: bold;
}


/* google map */
#map {
        height: 500px;
        width: 700px;
      }
      
      #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
      }

      #infowindow-content .title {
        font-weight: bold;
      }

      #infowindow-content {
        display: none;
      }

      #map #infowindow-content {
        display: inline;
      }

      .pac-card {
        margin: 10px 10px 0 0;
      }

      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }

      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }

      .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }

      #pac-input:focus {
        border-color: #188d6d;
      }

      #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
      }
      
      
			#pac-input::placeholder {
			  color: black;
			  font-style: italic;
			}
/* google map */
