@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic|Open+Sans+Condensed:700");
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

nav{z-index: 3;}
#main {z-index: 2;}

nav {
	background-color: transparent;
	background-image: url("/bitcamp-fit-tour/images/main0.jpg");
	height: 250px;
}

.navtitle {
	margin-top: 50px;
	margin-bottom: 0px;
	font-size : 50px;
	font-weight: 700;
	color: white;
	text-align: center;
	font-family: 'Nanum Myeongjo', serif;
	height:60px;
	line-height: 40px;
}
.subText {
	font-size : 10px;
	font-weight: 600;
	color: white;
	text-align: center;
	font-family: 'Nanum Myeongjo', serif;
	height: 20px;
	font-style: italic;
}
/* .main {
	max-height: 200px;
	overflow: hidden;
	float: center;
}

.cropping-image{
	max-height: initial;
	margin-top: -50%;
} */

.navigation {
	margin-bottom: 13px !important;
	z-index: 3;
/*     margin-bottom: 50px; */
}

.navigation > ul {
	margin-left: 100px;
	margin: 0px;
	padding: 0px 210px;
	background-color : white !important;
	list-style-type: none;
}

.navigation ul > li {
      width: calc(16.666% - 0.2em);
      text-align: center;
}

.navigation ul ul, .navigation ul ul ul {
	background-color : white !important;
	}

.jbFixed {
        position: fixed;
        top: 0px;
        width: 100%;
      }
      
 .jbFixed ul, .jbFixed ul ul, .jbFixed ul ul ul {
 	background-color: #24313C !important;
	opacity: 0.8;
	}

 .jbFixed ul a, .jbFixed ul ul a, .jbFixed ul ul ul a, .jbFixed .navigation-ul .mouseOverLeave .showAll {
 	color: white;
	}
	
.showinBright {
	color: #d6e5e3 !important;
	opacity: 0.8;
}

.continent-list-btn, .showAll{
/* 	color: #A0B3B0; */
    color: #5B6866;
	text-decoration: none;
	font-weight: 500;
}

.has-menu ul li a {
	/* color: #A0B3B0; */
	color: #d6e5e3; 
	font-weight: 500px;
}


.navigation ul ul, .navigation ul ul ul{
	list-style-type: none;
	padding-left: 0;
	margin: 0;
	background-color: #24313C;
}

.navigation ul li{
	display: inline-block;
	padding: 15px 15px;
	z-index: 997;
}

.navigation li.has-menu{
	position: relative;
}

.navigation ul.sub-menu{
	display: none;
	margin-top: 15px;
	background-color: #3b4e5f;
}

.navigation ul.sub-menu li{
	min-width: 150px;
}

.continent-list-btn:hover{
 	color: #d6e5e3;
	text-decoration: none;
	font-weight: 500;
}

.navigation li.has-menu:hover > ul.sub-menu {
	display: block;
	position: absolute;
	background-color: #24313C !important;
	opacity: 0.9;
	color: #d6e5e3;
}

.navigation ul li, .navigation ul ul li{
	border-top: 4px solid transparent;
}

.navigation ul li:hover, .navigation ul ul li:hover{
	border-top: 4px solid #1AB188;
}

.navigation ul li:hover, .navigation ul ul li:hover{
	background-color: #24313C !important;
	opacity: 0.9;
}

.navigation ul ul ul {
  left: 100%;
  top: 0;
}

/*section - breadcrumb, list, pagination*/
 section:not(.tiles)  {
 width: 750px;
 float:right;	
  min-height: 700px;
}

/*breadcrumb*/
.breadcrumb-order-option {
	margin-top : 15px;
	margin-bottom: 0px;
}

.clean {
	background: none;
	box-shadow: none;
	height: 40px !important;
	clear: both;
	padding: 0px !important;
}

#breadcrumb-list {
	margin: 0px;
	height:50px;
	padding: 0px !important;
}

.breadcrumb {
	font-size: 14px;
	color: #6B7770;
	opacity: 0.8;
}

.breadcrumb:before {
	color: #6B7770;
	opacity: 0.8;
}

.breadcrumb:last-child {
	color: rgba(0,0,0,0.80	);
}

/*검색결과 0*/
.nodata {
	text-align: center;
	padding: 100px 0px;
}

.nodata-text {
	color : grey;
}


/* 상품 list */
#tourlistcard {
	min-height: 700px;
}

.card-image {
	width: 25%;
	height: 169px;
	
}

.card-image > img {
	height: 169px;
	width: 187px !important;
}

.card-content {
	padding: 0px 24px !important;
	margin: 0px;
}
.exception1 {
	margin-top: 10px !important;
}
.card-action {
	padding: 0px 24px 2px 24px !important;
	font-size: 24px;
	height: 65px;
}

#transportation-icon {
	color: #6b7770;
}

.last-line {
	margin:0px !important;
}
.tour-item{
	padding: 0px !important;
	font-size : 13px !important;
}

.tour-item-theme {
	padding: 0px !important;
	margin: 0 90px 10px 0 !important;
	width: 255px !important;
	height: 42px;
	font-size : 13px !important;
}

.price {
	font-size: 20px !important;
	text-align: right;
}

.collapsible-header {
	color: #5B6866;
	font-size : 13px;
}

.fa-won-sign {
	font-size: 17px !important;
}

/*orderOptions*/
.orderOptions {
	height: 50px;
	padding: 0px;
}

.orderOption1{
	margin: 0 0 0 120px;
	font-size: 14px;
	color: rgba(0,0,0,0.80);
	opacity: 0.8;
}

.orderOption2 {
	font-size: 14px;
	color: rgba(0,0,0,0.80);
	opacity: 0.8;
}

.selected {
	color: #343a40;
    font-weight: 600;
}

span > a {
	margin: 3px;
}


/*pagination*/
.pagination {
	text-align: center;
}

.currpage-link, #currPage {
	background-color: white !important;
	width: 20px;
}

.currpage-link, .page-link {
  font-size: 12px !important;
  color: #514859 !important; 
  line-height: 18px !important;
  font-weight: normal;
}

.disabled {
	pointer-events: none;
    cursor: default;
}

/*tourlist table(card 대신 table 사용하는 경우)*/
/* table {
  border-collapse: separate;
  border-spacing: 0 15px;
}

.listRow {
	height: 160px;
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.tour-image {
	width: 185px;
	height: 160px;
	padding: 0px;
	margin: 0px;
}

td img {
	width: 185px;
	height: 160px;
	padding: 0px;
	margin: 0px;
}

.tour-details {
	height: 160px !important;
	padding: 0px;
}

td p {
	margin: 0px;
}

.tour-country, .tour-detail {
	margin: 2px;
	padding: 0px 24px;
}

.tour-title {
	font-size : 24px;
	height: 65px;
border-top: 1px solid rgba(160,160,160,0.2);
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgba(160, 160, 160, 0.2);
    padding: 0px 24px;
    width: 562px !important;
}

.last-line {
	margin: 2px;
	padding: 0px 24px;
}

.tour-theme {
	display: inline;
	padding: 0px 24px;
	margin: 0px 350px 0px 0px;
}

.tour-price {
	font-size: 22px;
	display: inline;
	padding: 0px 24px;
	
} */


/*collapsible - side menu*/
.collapsible {
	/* top: 196px; */
	top: 385px;
	position: absolute;
/* 	        position: fixed;
        top: 210px; */
	width: 240px;
/* 	border: 2px solid blue; */
	border-radius: 4px;
	padding: 5px !important;
}

/* .jbFixed2 {
	    position: fixed !important;
        top: 50px;
        bottom: 300px;
} */

.collapsible-header {
	padding: 10px !important;
}
.collapsible-body {
	padding: 20px 20px 10px 20px !important;
}

.filter-reset {
	    color: #26a69a !important;
	    font-weight: 700;
	    cursor: pointer;
}

.material-icons {
	font-size : 20px;
	vertical-align: baseline;
}


label {
	font-size: 14px;
		color: rgba(0,0,0,0.87) !important;
}

#amount, #tour-hour {
	font-size: 14px;
	color: #424242 !important;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	font-weight: normal !important;
}

form > p {
	margin: 5px;
	color: rgba(0,0,0,0.87) !important;
}

.theme-selection {
	padding: 10px 20px !important;

}

#theme-name {
    color : #5B6866;
	font-size: 13px;
	padding: 0px 25px;
}

[type="checkbox"].filled-in:not(:checked)+span:not(.lever):after {
  width: 17px !important; 
  height: 17px !important; 
  margin: 5px 0px !important;
  border: 2px solid #5B6866;
}

#searchwithOptions{
	width: 100%;
}


/* range */
 .ui-widget-header {
  height: 4px !important;
  background: #26a69a;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  border: 1px solid #c3c3c3;
  border-radius: 13px;
  background: #fff;
}
.ui-widget-content {
    height: 2px !important;
    border: 0;
    background: #e0e0da;
}
.ui-slider-horizontal .ui-slider-range {
  top: -2px;
}
.ui-slider-horizontal .ui-slider-handle {
  top: -10px;
  cursor: pointer;
}
.ui-slider-handle {
  outline: none;
}
.ui-slider-handle .amount {
  position: absolute;
  left: 0;
  top: 35px;
  display: none;
  width: 130px;
  padding: 10px 0;
  text-align: center;
  margin-left: -55px;
  font-weight: normal;
  font-size: 14px;
  color: #fff;
  border: 1px solid #53b147;
  background: #53b147;
}
.ui-slider-handle .amount:after {
  content: '';
  display: block;
  position: absolute;
  top: -11px;
  left: 50%;
  right: 0;
  width: 0;
  height: 0;
  margin-left: -5px;
  border-bottom: 5px solid #53b147;
  border-top: 5px solid transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  background-color: #fff;
}
.min-range {
  float: left;
  padding-top: 20px;
  font-size: 12px;
  color: #888;
}
.max-range {
  float: right;
  padding-top: 20px;
  font-size: 12px;
  color: #888;
}
.slider-range-wrap {
  position: relative;
  width: 500px;
  height: 200px;
  margin: 0 auto;
  padding: 40px 20px 60px 0;
}




footer {
	clear:both;
}


