@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic|Open+Sans+Condensed:700");

main {
}

 #nav ul li {
	position: relative;
      width: calc(16.666% - 2.5em);
      margin: 0.5em 0 0 2.5em;
}
section:not(.tiles)  {
 width: 900px;
 float:right;
 border: 2px solid red;	
}
aside {
	width:250px;
	float: left;
	border: 2px solid blue;
}

footer {
	clear:both;
}

th:nth-child(1) {
  width: 50px;
}

th:nth-child(3) {
  text-align: center;
  width: 100px;
}

th:nth-child(4) {
  text-align: center;
  width: 60px;
}

td:nth-child(4) {
  text-align: center;
}

/* Tiles */

  .tiles {
    display: flex;
    flex-wrap: wrap;
    postiion: relative;
    margin: -2.5em 0 0 -2.5em;
  }

    .tiles article {
      transition: transform 0.5s ease, opacity 0.5s ease;
      position: relative;
      width: calc(25% - 2.5em);
      margin: 2.5em 0 0 2.5em;
    }

      .tiles article > .image {
        transition: transform 0.5s ease;
        position: relative;
        display: block;
        width: 100%;
        border-radius: 4px;
        overflow: hidden;
      }

        .tiles article > .image img {
          display: block;
          width: 100%;
        }

        .tiles article > .image:before {
          pointer-events: none;
          transition: background-color 0.5s ease, opacity 0.5s ease;
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          opacity: 0.8;
        }

        .tiles article > .image:after {
          pointer-events: none;
          transition: opacity 0.5s ease;
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 0.25px%3B stroke: %23ffffff%3B %7D%3C/style%3E%3Cline x1='0' y1='0' x2='100' y2='100' /%3E%3Cline x1='100' y1='0' x2='0' y2='100' /%3E%3C/svg%3E");
          background-position: center;
          background-repeat: no-repeat;
          background-size: 100% 100%;
          opacity: 0.25;
          z-index: 2;
        }

      .tiles article > a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: background-color 0.5s ease, transform 0.5s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 1em;
        border-radius: 4px;
        border-bottom: 0;
        color: #ffffff;
        text-align: center;
        text-decoration: none;
        z-index: 3;
      }

        .tiles article > a > :last-child {
          margin: 0;
        }

        .tiles article > a:hover {
          color: #ffffff !important;
        }

        .tiles article > a h2 {
          margin: 0;
        }

        .tiles article > a .content {
          transition: max-height 0.5s ease, opacity 0.5s ease;
          width: 100%;
          max-height: 0;
          line-height: 1.5;
          margin-top: 0.35em;
          opacity: 0;
        }

          .tiles article > a .content > :last-child {
            margin-bottom: 0;
          }

      .tiles article.style1 > .image:before {
        background-color: #f2849e;
      }

      .tiles article.style2 > .image:before {
        background-color: #7ecaf6;
      }

      .tiles article.style3 > .image:before {
        background-color: #7bd0c1;
      }

      .tiles article.style4 > .image:before {
        background-color: #c75b9b;
      }

      .tiles article.style5 > .image:before {
        background-color: #ae85ca;
      }

      .tiles article.style6 > .image:before {
        background-color: #8499e7;
      }

      .tiles article:hover > .image {
        transform: scale(1.1);
      }

        .tiles article:hover > .image:before {
          background-color: #333333;
          opacity: 0.35;
        }

        .tiles article:hover > .image:after {
          opacity: 0;
        }

       .tiles article:hover .content {
        max-height: 15em;
        opacity: 1;
      }

    * + .tiles {
      /* margin-top: 2em; */
    }

#nav {
    text-align: center !important;	
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	background-color: white;
	box-shadow: none;
	}

/* Nav */

	#nav {
		top: 0;
		left: 0;
		z-index: 1000;
		width: 100%;
		height: 3.25em;
		line-height: 3.25em;
		text-align: center;
		font-family: 'Open Sans Condensed', sans-serif;
		font-weight: 700;
		text-transform: uppercase;
		cursor: default;
	}

		#nav ul {
			position: relative;
			z-index: 1001;
		}

		#nav li {
			display: inline-block;
			margin: 0 0.5em 0 0.5em;
			top: 0;
			position: relative;
			transition: top .15s ease-in-out;
		}

			#nav li > ul {
				display: none;
			}

			#nav li a, #nav li span {
				transition: background-color .075s ease-in-out, color .075s ease-in-out;
				position: relative;
				display: block;
				text-decoration: none;
				color: #6b7770;
				top: -6px;
				padding: 6px 1.5em 0.25em 1.5em;
				border-bottom-left-radius: 6px;
				border-bottom-right-radius: 6px;
				outline: 0;
			}

			#nav li:hover, #nav li.active {
				top: 3px;
			}

			#nav li:hover a, #nav li:hover span {
				background: #C1CAC5;
				color: #fff;
			}

			#nav li.active a, #nav li.active span {
				background: #C1CAC5;
				color: #fff;
			}

			#nav li.current a {
				background: #b1ddab;
				color: #fff;
			}

	.dropotron {
		list-style: none;
		background: #6B7770;
		color: #fff;
		border-radius: 6px;
		line-height: 2.75em;
		text-align: center;
		font-family: 'Open Sans Condensed', sans-serif;
		font-weight: 700;
		text-transform: uppercase;
		padding: 1em 0;
		text-align: left;
		min-width: 14em;
		margin-top: -1em;
		box-shadow: 0 1em 2em 0 rgba(0, 0, 0, 0.1);
	}

		.dropotron li {
			padding-left: 0;
		}

			.dropotron li > a, .dropotron li > span {
				display: block;
				color: #D7DAD8;
				text-decoration: none;
				padding: 0 1.25em;
			}

			.dropotron li:hover > a, .dropotron li:hover > span {
				color: #fff;
				background: #7B8780;
			}

			.dropotron li.active > a, .dropotron li.active > span {
				color: #fff;
				background: #7B8780;
			}

			.dropotron li:first-child {
				border-top: 0;
			}

		.dropotron.level-0 {
			margin-top: 1em;
			font-size: 0.9em;
		}

			.dropotron.level-0:before {
				content: '';
				position: absolute;
				left: 50%;
				margin-left: -1em;
				top: -0.65em;
				border-bottom: solid 1em #6B7770;
				border-left: solid 1em transparent;
				border-right: solid 1em transparent;
			}
