#comment-dive {
	border-top: #888a85 solid 1px;
}

#perPrice {
	color: #888a85;
}

#comment-add-button {
  margin-bottom : 60px;
  margin-left: 5px;
}

#comment-inputfield {
    width: 485px;
    display: inline-block;
}


#subHeading {
    font-family: 'Miller Daily', 'Georgia', 'Times', 'Times New Roman', serif;
    font-size: 16px;
    font-style: italic;
    line-height: 1.5;
}

#price {
    line-height: 1;
    font-size: 24px;
}

.recomment-add[readonly] {
	border-bottom: 0px !important;
}

.bit-recomment-list-button {
  font-size:15px; 
  padding: 30px 30px 30px 50px;
	
}

.commentRow img {
  height: 35px;
  background-position: center;
  border-radius: 10px;
  box-sizing : border-box;
}



i {
	font-size: 25px;
}

i[class="fas fa-won-sign"] {
	font-size: 12px;
}

.clean {
  background: none;
  box-shadow: none;
  height: 50px !important;
  clear: both;
}

.breadcrumb {
  color: #6B7770;
  opacity: 0.8;
}

.breadcrumb:before {
  color: #6B7770;
  opacity: 0.8;
}

.breadcrumb:last-child {
  color: rgba(0,0,0,0.80  );
}






