#comment-dive {
	border-top: #888a85 solid 1px;
}

#perPrice {
	color: #888a85;
}

#comment-add-button {
	margin-bottom : 40px;
}

/* #title {
    font-family: 'Benton Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
} */

#subHeading {
    font-family: 'Miller Daily', 'Georgia', 'Times', 'Times New Roman', serif;
    font-size: 16px;
    font-style: italic;
    line-height: 1.5;
}

#price {
    line-height: 1;
    font-size: 24px;
}

.recomment-add[readonly] {
	border-bottom: 0px !important;
}

.bit-recomment-list-button {
  font-size:15px; 
  padding: 30px 30px 30px 50px;
	
}

.commentRow img {
  height: 35px;
  background-position: center;
  border-radius: 10px;
  box-sizing : border-box;
}


.datepicker-modal {
	height: 352px;
}

i {
	font-size: 25px;
}

i[class="fas fa-won-sign"] {
	font-size: 12px;
}





