.bit-recomment-list-button {
  font-size:15px; 
  padding: 30px 30px 30px 50px;
	
}

.commentRow img {
  height: 35px;
  background-position: center;
  border-radius: 10px;
  box-sizing : border-box;
}

#comment-add-button {
	margin-bottom : 40px;
}

#title {
    font-family: 'Benton Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

#subHeading {
    font-family: 'Miller Daily', 'Georgia', 'Times', 'Times New Roman', serif;
    font-size: 16px;
    font-style: italic;
    line-height: 1.5;
}

#price {
    line-height: 1;
    font-size: 24px;
}


.ui-datepicker{ font-size: 20px; width: 300px; }
.ui-datepicker select.ui-datepicker-month{ width:30%; font-size: 15px; }
.ui-datepicker select.ui-datepicker-year{ width:40%; font-size: 15px; }
.ui-datepicker-week-end {color:red;}
.ui-datepicker-week-end .ui-state-default {color:red;}
$('img.ui-datepicker-trigger').css({'cursor':'pointer', 'margin-left':'5px'});  //아이콘(icon) 위치
$('.ui-datepicker ').css({ "margin-left" : "141px", "margin-top": "-223px"});  //달력(calendar) 위치
$('img.ui-datepicker-trigger').attr('align', 'absmiddle');

