/* main */
nav {z-index: 3;}
#main {z-index: 2;}
#nav-bg {z-index: 1;}

nav {
  background-color: transparent !important;
  position: fixed !important;
}

li > img {
  -webkit-transition: all 13s ease-in-out;
}

/* img header */
#main {
  opacity: 1.0;
}

/* body */
body {
  background: #eee;
}

/* identifier */
.identifier{
    color: rgba(0,0,0,0.87);
    background-color: #fafafa !important;
    opacity: 0.9;
    width: auto;
}

.identifier:hover{
    opacity: 1;
    color: black;
    text-indent: 0.5%;
}


/* card */

.card {
  cursor : pointer;
}

/* populer */

.popular-card .card-image > img{
  height: 220px;
}

#popular-tour{
  height: 220px !important;
}

.popular-card {
  margin-left : 10px;
  margin-right : 10px;
}

.popular-card .card-title{
    color: #fafafa !important;
    background-image: linear-gradient(400deg,rgba(0, 0, 0, 0.54) 8%,hsla(0,0%,100%,0) 40%) !important;
    width: 220px !important;
    height: 220px !important;
    padding-top: 170px !important;
    font-size: 20px !important;
} 

.popular-header {
  font-weight: 700;
  margin-left: 10px;
}


#popular-left-ptn{
  margin-right: auto;
}

#popular-right-ptn{
  margin-left: auto;
}

/* lately product */

.lately-card {
  width : 300px !important;
  margin-left : 10px;
  margin-right : 10px;
}

.lately-header {
  font-weight: 700;
  margin-left: 10px;
}

.lately-title {
  font-size: 18px;
  font-weight: 600;
  min-height: 50px !important;
}

.lately-card .card-title {
    bottom: 70% !important;
    left: 80% !important;
    color: #e57272 !important;
}

.lately-price {
  font-size: 16px;
  font-weight: 500;
  color: gray;
}

.lately-hour-trans {
  color: gray;
}

.lately-city {
  color: gray;
}

#lately-tour{
  height: 500px !important;
}

.lately-card .card-title i{
    font-weight: 600;
    font-size: 26px !important;
}

.card-content {
  min-height: 180px;
}

/* slick */
.slick-prev:before, .slick-next:before {
    font-size: 27px !important;
    color: #ee6e73 !important;
}