.titl {
    padding: 0 0 24px 2px;
    font-weight: 700;
    font-size: 28px;
    line-height: 41px;
    color: #4a4a4a;
    margin-top: 120px;
    margin-bottom: 0px;
}


.title-search, #search-title {
	width: 200px;
	display: inline;
}

.date-search {
	margin-left: 20px;
	width: 150px;
	display: inline;
	font-size: 14px;
}

#search-date {
	margin-left: 10px;
	width: 150px;
	height: 43px;
	display: inline;
	
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    padding: 0 10px;
}

input::placeholder {
	color: black;
	font-size: 14px;
}

.date-text {
	margin-left: 5px;
}

#searchthis {
	float: right;
}

#search-btn {
background:#0099ff;
color:white;
font: 'trebuchet ms', trebuchet;
padding:10px 20px;
border-radius:0 5px 5px 0;
-moz-border-radius:0 5px 5px 0;
-webkit-border-radius:0 5px 5px 0;
-o-border-radius:0 5px 5px 0;
border:0 none;
font-weight:bold;
}
 
#search-box {
background: #eee;
padding:10px;
border-radius:5px 0 0 5px;
-moz-border-radius:5px 0 0 5px;
-webkit-border-radius:5px 0 0 5px;
-o-border-radius:5px 0 0 5px;
border:0 none;
font-size: 13px;
width:160px;
height: 17px;
 }

.reservation-list {
	font-size: 10px;
}

/* th:nth-child(1) {
  width: 50px;
}

th:nth-child(3) {
  text-align: center;
  width: 100px;
}

th:nth-child(4) {
  text-align: center;
  width: 60px;
}

td:nth-child(4) {
  text-align: center;
} */