
nav {
	background-color: transparent;
	background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0) ),url('/bitcamp-fit-tour/images/architecture.jpg');
	height: 250px;
	background-position: center;
}

h3 {
    font-weight: 700;
    font-size: 28px;
    line-height: 41px;
    color: #4a4a4a;
    margin-top: 60px;
    margin-bottom: 0px;
}

table {
    border-top: 2px solid teal;
}


thead{
  width: 80px;
  font-size: 14px;
  font-weight: 600;
  background-color: #f7f5f8;
}

#content {
  padding: 25px;
}

.buttons {
   float: right;
}

.review{
   min-height: 600px
}
.reviewNo{
  width: 150px
  
}

.reviewName{
  width: 250px
  
}
.reviewTitle{
  width: 420px;
  text-align: left;
  
}


.noe{
  min-height: 250px
}



#add-btn{
  margin-top: 15px;
  
}


