table {
    border-top: 2px solid teal;
}


thead{
  width: 80px;
  font-size: 14px;
  font-weight: 600;
  background-color: #f7f5f8;
}

#content {
  padding: 25px;
}

.buttons {
   float: right;
}

.review{
  min-height: 555px
  
}
.reviewNo{
  width: 150px
  
}

.reviewName{
  width: 250px
  
}
.reviewTitle{
  width: 420px;
  text-align: left;
  
}


.noe{
  min-height: 50px
