@charset "UTF-8";

h2 {
	padding: 0;
    color: #808080;
    font-size: 20px !important;
    font-weight: 700;
    margin-top: 50px;
}

table {
    border-top: 2px solid teal;
}
#titleTd{
  font-size: 16px;
  padding:15px;
}
#tourTh,#nameTh,#titleTh, #createdDateTh, #countViewTh ,#ratyTh {
	width: 80px;
	font-size: 14px;
	background-color: #f7f5f8;
}

#tourTd,#nameTd, #createdDateTd, #countViewTd,#ratyTd {
	font-size: 14px;
	padding:15px;
	
}
#update-btn{
  display: none;
    float: right;
    margin-left:10px; 
}
#backToList{
   float: right;
   margin-left:10px;
}
#delete-btn{
 display: none;
   float: right;
   margin-left:10px;
}

#content {
}

.buttons {
}
.review{
  min-height: 500px
  
}
.noe{
  min-height: 50px
}
