@charset "UTF-8";

.bit-main-header {
  min-height: 60px;
}

#bit-login-state img {
  height: 35px;
  background-position: center;
  border-radius: 10px;
}

.bit-logo {
  background-image: url("/bitcamp-fit-tour/images/logo2.png");
  background-repeat: no-repeat;
  width:194px; height:70px;
  background-size: contain;
  display:inline-block;
}