@charset "UTF-8";

nav {
  height: 90px;
}

#bit-header ul {
  margin-top: 11px;
}

.nav-wrapper {
  font-weight: 700;
}

#login-userphoto {
	margin-top: 2px;
}


#bit-login-state img {
  height: 35px;
  background-position: center;
  border-radius: 10px;
}

.bit-logo {
  background-image: url("/bitcamp-fit-tour/images/logo.png");
  background-repeat: no-repeat;
  width:194px; height:70px;
  background-size: contain;
  display:inline-block;
  margin-top: 8px;
}