@charset "UTF-8";

/* 회원가입버튼 가운데정렬 */

h4{
  text-align: center;
  
}



#login-btn{
      width: 100%;
  
}
#facebook-btn{
  background-color: #3b5999;
      width: 100%;
  margin-bottom: 5px;
}
#google-btn{
   background-color: #da4735;
      width: 100%;
  margin-bottom: 5px;
}
#naver-btn{
   background-color: #1cc800;
      width: 100%;
  margin-bottom: 5px;
}


img{
  height:36px
}

.row{
     margin-bottom: 0px;
 
}
   
#find-password{
 text-align: right;

}
.button{
   margin-bottom: 200px;
    text-align: center;
}
#reservation{
cursor:pointer
}

#find-password{
  cursor:pointer
}

#naverIdLogin_loginButton {
  background-color: #1ec800;
  width: 289.84px;
  height: 36px;
  padding-left: 0px;
  border: 1px solid #13af00;
  text-align: start;
  margin-bottom: 10px;
}

.naver-img {
  border: 1px solid #13af00;
  border-radius: 2px;
}
.facebook-img{
  border: 1px solid #2f4679;
  border-radius: 2px;
}
.naver {
  padding-left: 80px;
  position: absolute;
}
.facebook {
  padding-left: 73px;
  position: absolute;
}

#facebook-btn{
  background-color: #3b5999;
  width: 289.84px;
  height: 36px;
  padding-left: 0px;
  border: 1px solid #2f4679;
  text-align: start;
  margin-bottom: 10px;
}


