@charset "UTF-8";

/* 회원가입버튼 가운데정렬 */

h4{
  text-align: center;
  
}

div{
  
  
}
#login-btn{
      width: 100%;
  
}
#temp-btn{
      width: 100%;
  
}

.row{
 
}
   
#find-password{
 text-align: right;
padding-bottom: 300px;
}
.button{
    text-align: center;
}
#reservation{
cursor:pointer
}

#find-password{
  cursor:pointer;
   margin-bottom: 200px;
}

border: 1px solid ;


