@charset "UTF-8";

/* 회원가입버튼 가운데정렬 */

h4{
  text-align: center;
  
}

div{
  
  
}
#login-btn{
      width: 100%;
  
}
#find-btn{
      width: 100%;
  
}

.row{
     margin-bottom: 0px;
 
}
   
#find-password{
 text-align: right;

}
.button{
   margin-bottom: 200px;
    text-align: center;
}
#reservation{
cursor:pointer
}

#find-password{
  cursor:pointer
}

border: 1px solid ;


