@charset "UTF-8";

/* 회원가입버튼 가운데정렬 */
h3 {
  padding: 4% 2% 2%;
  margin: auto;
}

h6 {
  padding: 4% 2% 2%;
  margin: auto;
}
div{
 /*  border: solid red 2px; */
}

#title {
  font-size: 20px;
  margin: auto;
  position    : relative; 
}
ul.stepper.horizontal {
   min-height: 650px;
}

.dropdown-content {
  max-height: 200px !important;
}

#mandatory{
  font-size: 15;
  color: red;
}
#sc{
      padding-bottom: 30px;
  
}