@charset "UTF-8";


div{
 /*  border: solid red 2px; */
}

#title {
  font-size: 20px;
  margin: auto;
  position    : relative; 
}
ul.stepper.horizontal {
   min-height: 750px;
}

.dropdown-content {
  max-height: 200px !important;
}

#mandatory{
  font-size: 15;
  color: red;
}
#sc{
      padding-bottom: 30px;
  
}


#radio{
margin-bottom: 40px;
}

.redioBtn{
}

.stepper linear horizontal{

  overflow-y: hidden; overflow-x: hidden;


}