@charset "UTF-8";

/* 회원가입버튼 가운데정렬 */
#add-btn{

 
  margin: auto;
}


/* 로그아웃 버튼 숨기기 */
.bit-invisible {
  display: none;
}


#sms-span{
 margin : 10% 10% 10%;  
  
}
h3{
  padding : 4% 2% 2%;  
  
}
h6{
  
  padding : 2% 2% 2%;  
}

.datepicker-modal{
max-height: 400px !important;
}

